.body { 
    padding: 70px;
    margin-top: 180px;
    background-color:#1c8694;
}
.app-container {
    background-color:#1c8694;

}

.login-page {
    columns: xs-3;
    margin-left: 5;

}

.app-container {
    margin-left: 5;
}

.form-control {
    columns: xs-3;
}
