.container { 
    padding-top: -50px;
    text-align: center;
}

.director-title{ 
    text-align: center;
}

.btn-primary {
    margin-top: 10px;
}

.director-name { 
    margin: 5px;
}

.director-bio { 
    margin: 5px;
}

.card-title{
    padding-top: 10px;
}
