div.card {
    margin-top: 100px;
    padding-top: 100;
    color: white;
    border: 1px solid #222222;
}

.btn-primary {
    margin-top: 10px;
}

.genre-description {
    margin: 10px;
}

.genre-view {
    padding-top: 10px;

}
h5{ 
    color: white;
}