div.card  {
    background-color: darkslategrey;
    padding: 10px;
}

.btn-danger {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;

}

.btn-primary {
    margin-top: 5px;
    margin-bottom: 10px;

}

.movie-description {
    margin: 10px;
    margin-bottom: 10px;
}

.movie-title {
    margin: 10px;
}